:root {
    --color-primary: #85AD79;
    --color-primary-light: #000;
    --color-primary-dark: #000;

    --color-secondary: #DACA04;
    --color-secondary-light: #000;
    --color-secondary-dark: #000;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-input: #fafbfb;
    --color-border: #c5ccd1;

    --color-red: #e74c3c;
    --color-orange: #e67e22;
    --color-green: #2ecc71;
    --color-blue: #3498db;

    --color-background: #fbfbfbfb;
    --color-bullets: #c655ea;
}
